VITE_SUPABASE_URL=https://ofqthmatkldnapuxacor.supabase.co
VITE_SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9mcXRobWF0a2xkbmFwdXhhY29yIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTAyMzQ4MDQsImV4cCI6MjA2NTgxMDgwNH0.lSlvNg0RjaVSBN05Q-lY90u0UaPohpPcDeBBQE9uLgI